%table
  %th Category
  %th %
  %th Amount $

  - @categories.each do |category|
    - # next if category == 'transfer'
    %tr
      %td
        = link_to category, "/category/#{category}"
      %td
        = category_percent(category, transactions)
      %td
        = sum_category(category, transactions)
